#
# Copyright (c) 2023 Robert Scheck <robert@fedoraproject.org>
#
# Permission to use, copy, modify, and distribute this software for any
# purpose with or without fee is hereby granted, provided that the above
# copyright notice and this permission notice appear in all copies.
#
# THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
# WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
# ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
# WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
# ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
# OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
#

global
	chroot /var/lib/haproxy
	pidfile /run/haproxy.pid
	maxconn 32
	user haproxy
	group haproxy
	# Buffer holds "http-response return"
	tune.bufsize 16384

defaults http
	mode http
	timeout client 10s
	timeout connect 5s
	timeout server 5s

frontend openmetrics
	bind 0.0.0.0:9099
	bind [::]:9099 v6only
	default_backend rpki-client

backend rpki-client
	http-request return status 200 content-type "application/openmetrics-text; version=1.0.0; charset=utf-8" file /var/lib/rpki-client/metrics hdr cache-control no-cache if { path /metrics }
	http-request return status 404 hdr cache-control no-cache
